.table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: var(--tableBgColor, #fff);
    
  }
  
  .table__thead{
    background-color: var(--tableTitleBgColor);
    color: var(--tableTitleTextColor);
    
  }
  
  .table__mobile-caption{
    display: none;
  }
  
  .table__td, .table__th{
    padding: var(--tableCellPadding, 20px);
    box-sizing: border-box;
    
  }
  
  @media screen and (min-width: 769px){
  
    .table__tr:hover{
      background-color: var(--tableRowBgColorHover);
    }
  
    .table__td:first-child, .table__th:first-child{
      width: 30%;
      text-align: left;
    }
  
    .table__td, .table__th{
      text-align: center;
    }
  }
  
  @media screen and (max-width: 768px){
  
    .table, .table__thead, .table__tbody, .table__tr{
      display: block;
    }
  
    .table__td{
      display: flex;
    }
  
    .table__head{
      display: none;
    }
  
    .table__mobile-title{
      background-color: var(--tableTitleBgColor);
      color: var(--tableTitleTextColor);
    }
  
    .table__td{
      border-bottom: 1px solid var(--tableSeparatorColor);
    }
  
    .table__td:last-of-type{
      border-bottom: none;
    }
  
    .table__mobile-caption, .table__value{
      display: block;
      width: 50%;
      box-sizing: border-box;
    }
  
    .table__mobile-caption{
      padding-right: 2%;
    }
  }
  
  
  
  .table{
    --tableCellPadding: 2rem;
    --tableTitleBgColor: #5668ca;
    --tableTitleTextColor: #fff;
    --tableRowBgColorHover: #f0f0f0;
    --tableSeparatorColor: #eee;
  }
  

  @media screen and (min-width: 768px){
  
    html{
      font-size: 62.5%;
    }
  }
  
  @media screen and (max-width: 767px){
  
    html{
      font-size: 50%;
    }
  }
  
  body{
    
    font-size: 1.4rem;
    background-color: #f0f0f0;
    color: #222;
    
    -webkit-overflow-scrolling: touch;   
  }
  
  a{
    text-decoration: none;
    color: #5668ca;
  }
  
  a:hover, a:focus{
    text-decoration: underline;
  }
  
  .page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .page__demo{
    flex-grow: 1;
  }
  
  .main-container{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1000px;
    
    margin-right: auto;
    margin-left: auto;
  }
  
  .page__container{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  

  
